<!-- Complete Table -->
<div class="display">
  <div>
    <h2 id="complete">Complete Table</h2>
    <p>
      So lets throw everything you've seen so far and even more together and see what happens...
      <br>
      P.S.: Please do not make tables as useless as this one. :-)
    </p>
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>visibility</mat-icon>
          Display
        </ng-template>
        <div class="smt-container">
          <smc-simplemattable [data]="dataComplete" [columns]="columnsComplete" [paginator]="true" [filter]="true"
                              (edit)="onEdit($event)" [paginatorPageSize]="3"
                              [sorting]="true" [editable]="true" [addable]="true" [deletable]="true"
                              (add)="onAdd($event)" [filterLabel]="'I think you might be on to something...'"
                              addIcon="account_box" [deleteIcon]="'check_box_outline_blank'" [sticky]="false"
                              [create]="createFn" (delete)="onDelete($event)"></smc-simplemattable>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>code</mat-icon>
          Code
        </ng-template>
        <div class="code">
          <p>Typescript - Data</p>
          <mat-divider></mat-divider>
          <pre>
this.dataComplete = [
  new ComplexTestData(1, 40, 'test1', new TestData('Key1', 'Value1', d1), 'test1'),
  new ComplexTestData(2, 41, '', new TestData('Key2', 'Value2', d2), ''),
  new ComplexTestData(3, 39, 'test3', new TestData('Key3', 'Value3', d3), 'test3'),
  new ComplexTestData(4, 39, 'test3', new TestData('Key3', 'Value3', d3), 'test3'),
  new ComplexTestData(5, 39, 'test3', new TestData('Key3', 'Value3', d3), 'test3'),
  new ComplexTestData(6, 39, 'test3', new TestData('Key3', 'Value3', d3), 'test3'),
  new ComplexTestData(7, 39, 'test3', new TestData('Key3', 'Value3', d3), 'test3'),
  new ComplexTestData(8, 40, 'test1', new TestData('Key1', 'Value1', d1), 'test1'),
  new ComplexTestData(9, 41, '', new TestData('Key2', 'Value2', d2), ''),
  new ComplexTestData(10, 39, 'test3', new TestData('Key3', 'Value3', d3), 'test3'),
  new ComplexTestData(11, 39, 'test3', new TestData('Key3', 'Value3', d3), 'test3'),
  new ComplexTestData(12, 39, 'test3', new TestData('Key3', 'Value3', d3), 'test3'),
  new ComplexTestData(13, 39, 'test3', new TestData('Key3', 'Value3', d3), 'test3'),
  new ComplexTestData(14, 39, 'test3', new TestData('Key3', 'Value3', d3), 'test3')
];
  </pre>
          <p>Typescript - Columns</p>
          <mat-divider></mat-divider>
          <pre>
const completeIdCol = new TableColumn&lt;ComplexTestData, 'id'&gt;('ID with button', 'id')
  .withIcon((id) =&gt; id &lt; 3 ? 'add' : 'delete')
  .withButton(ButtonType.RAISED)
  .withButtonColor('primary')
  .withWidth(Width.px(125))
  .withHeightFn(() =&gt; Height.px(100))
  .isTextHiddenXs(true);
const completeDesCol = new TableColumn&lt;ComplexTestData, 'description'&gt;('Description', 'description')
  .withColFilter()
  .withTransform(() =&gt; '')
  .withHeightFn(() =&gt; Height.px(150))
  .withWidth(Width.px(150))
  .withNgStyle(() =&gt; {{"{"}}&#x2063;
    return {{"{"}}&#x2063;
      'background': 'url(assets/smile.png)',
      'background-size': 'contain',
      'background-repeat': 'repeat',
      // 'height': '150px'
    &#125;;
  &#125;)
  .isHiddenSm(true);
completeDesCol.withFormField(completeDesCol
  .getCheckboxFormField()
  .withInit((des) => des !== 'false')
  .withApply((bool) => bool ? 'very true' : 'false'));
const completeValueCol = new TableColumn&lt;ComplexTestData, 'value'&gt;('Number with select', 'value')
  .withColFilter()
  .withAlign(Align.CENTER);

completeValueCol.withFormField(completeValueCol.getSelectFormField&lt;number&gt;()
  .withOptions([
            {{"{"}}&#x2063;display: '39', value: 39&#125;,
            {{"{"}}&#x2063;display: '40', value: 40&#125;,
            {{"{"}}&#x2063;display: '41', value: 41&#125;,
            {{"{"}}&#x2063;display: 'eine lustige Zahl', value: 420&#125;
  ])
.withValidators([Validators.required, Validators.min(25)])
  .withErrors([
            {{"{"}}&#x2063;key: 'required', msg: 'Value is required!'&#125;,
            {{"{"}}&#x2063;key: 'min', msg: 'Value should be at least 25!'&#125;
  ]));
const completeTestErrorCol = new TableColumn&lt;ComplexTestData, 'data'&gt;('Nested Value Select', 'data')
.withTransform(data =&gt; data.value)
.withAlign(Align.CENTER);
completeTestErrorCol.withFormField(completeTestErrorCol.getSelectFormField&lt;string&gt;()
  .withOptions([
            {{"{"}}&#x2063;display: 'Manatee', value: 'Manatee'&#125;,
            {{"{"}}&#x2063;display: 'Dog', value: 'Dog'&#125;,
            {{"{"}}&#x2063;display: 'Natalie Dormer', value: 'Natalie Dormer'&#125;,
            {{"{"}}&#x2063;display: 'A Muffin', value: 'A Hotdog'&#125;,
  ]).withPlaceholder('Sexiest Thing alive'));
const completeDes2Col = new TableColumn&lt;ComplexTestData, 'description'&gt;('Description2', 'description')
  .isVisible(false)
  .withAlign(Align.LEFT)
  .withMinLines(3)
  .withMaxLines(3)
  .withOnClick((data) =&gt; console.log(data));
completeDes2Col.withFormField(completeDes2Col.getLargeTextFormField().withHint('Hier steht ein langer Text'));
const completeKeyCol = new TableColumn&lt;ComplexTestData, 'data'&gt;('Key', 'data')
  .withTransform((data) =&gt; data.key)
  .isHiddenSm(true)
  .withOnClick((data) =&gt; console.log(data));
completeKeyCol.withFormField(completeKeyCol.getTextFormField()
  .withFocus(true)
  .withInit((data) =&gt; data.key)
  .withApply((id, data) =&gt; {{"{"}}&#x2063;
    data.key = id;
    return data;
  &#125;))
  .withAlign(Align.RIGHT);
const completeValCol = new TableColumn&lt;ComplexTestData, 'data'&gt;('Value with icon', 'data')
  .isHiddenXs(true)
  .withNgClass(() =&gt; 'red-bg-cell')
  .withIcon(() =&gt; 'menu')
  .withColFilter()
  .withTransform((data) =&gt; data.value);
const completeDateCol = new TableColumn&lt;ComplexTestData, 'data'&gt;('Date right align', 'data')
  .withTransform((data) =&gt; this.getDateStr(data.date))
  .withSortTransform(data =&gt; data.date.toISOString())
  .withAlign(Align.RIGHT)
  .withColFilter();
completeDateCol.withFormField(completeDateCol.getDateFormField()
  .withDateFilterFn((date: Date) => {{"{"}}
    if (!date) {{"{"}}
      return false;
    &#125;
    if (date.getDate() === 15) {{"{"}}
      return false;
    &#125;
    if (date.getTime() > new Date().getTime()) {{"{"}}
      return false;
    &#125;
    return true;
  &#125;)
  .withHint('Only past dates.')
  .withPlaceholder('Date')
  .withErrors([
            {{"{"}}&#x2063;key: 'required', msg: 'Date is required!'&#125;,
            {{"{"}}&#x2063;key: 'pastDate', msg: 'Date needs to be in the past!'&#125;
  ])
  .withValidators([Validators.required, this.pastDateValidator])
  .withInit(data =&gt; data.date)
  .withApply((val, data) =&gt; {{"{"}}&#x2063;
    data.date = val;
    return data;
  &#125;));
const completeMultilineCol = new TableColumn&lt;ComplexTestData, 'notes'&gt;('This header will take multiple lines to display the header', 'notes')
  .withColFilter();
this.columnsComplete = [completeIdCol, completeTestErrorCol, completeDesCol, completeDes2Col, completeValueCol, completeKeyCol, completeValCol, completeDateCol, completeMultilineCol];
  </pre>
          <p>HTML</p>
          <mat-divider></mat-divider>
          <pre>
&lt;smc-simplemattable [data]=&quot;dataComplete&quot; [columns]=&quot;columnsComplete&quot; [paginator]=&quot;true&quot; [filter]=&quot;true&quot;
                (edit)=&quot;onEdit($event)&quot; [paginatorPageSize]=&quot;3&quot;
                [sorting]=&quot;true&quot; [editable]=&quot;true&quot; [addable]=&quot;true&quot; [deletable]=&quot;true&quot;
                (add)=&quot;onAdd($event)&quot; [filterLabel]=&quot;'I think you might be on to something...'&quot;
                addIcon=&quot;account_box&quot; [deleteIcon]=&quot;'check_box_outline_blank'&quot; [sticky]=&quot;false&quot;
                [create]=&quot;createFn&quot; (delete)=&quot;onDelete($event)&quot;&gt;&lt;/smc-simplemattable&gt;
  </pre>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
