<div class="smc-simplealert-container" [@info-slide-in]="isOpenState">
  <div class="mat-elevation-z1 smc-simplealert"
       [ngClass]="getAlertType() + '-box'">
    <div style="flex: 0 0 auto" class="hidden-xs">
      <ng-container [ngSwitch]="getAlertType()">
        <mat-icon *ngSwitchCase="'info'">info</mat-icon>
        <mat-icon *ngSwitchCase="'error'">error</mat-icon>
        <mat-icon *ngSwitchCase="'warn'">warning</mat-icon>
        <mat-icon *ngSwitchCase="'success'">done</mat-icon>
      </ng-container>
    </div>
    <div style="flex: 1 1 auto">
      <ng-content></ng-content>
    </div>
    <button mat-icon-button style="flex: 0 0 auto" (click)="isOpen=false">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
