<div style="padding: 15px 15px 5px 15px;" [@info-slide-in]="isOpenState">
  <div class="mat-elevation-z1" [ngClass]="{ 'info-box': type === 1, 'error-box': type === 2 }"
       style="overflow: hidden" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="25px">
    <div fxFlex="0 0 auto">
      <mat-icon *ngIf="type === 1">info</mat-icon>
      <mat-icon *ngIf="type === 2">error</mat-icon>
    </div>
    <div fxFlex="1 1 auto">
      <ng-content></ng-content>
    </div>
    <button mat-icon-button fxFlex="0 0 auto" (click)="isOpen=false">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
