<div class="smc-simplealert-container" [@info-slide-in]="isOpenState">
  <div class="mat-elevation-z1 smc-simplealert"
    [ngClass]="getAlertType() + '-box'">
    <div style="flex: 0 0 auto" class="hidden-xs">
      @switch (getAlertType()) {
        @case ('info') {
          <mat-icon>info</mat-icon>
        }
        @case ('error') {
          <mat-icon>error</mat-icon>
        }
        @case ('warn') {
          <mat-icon>warning</mat-icon>
        }
        @case ('success') {
          <mat-icon>done</mat-icon>
        }
      }
    </div>
    <div style="flex: 1 1 auto">
      <ng-content></ng-content>
    </div>
    <button mat-icon-button style="flex: 0 0 auto" (click)="isOpen=false">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
