<!-- Column Visiblility and Responsive Design -->
<div class="display">
  <div>
    <h2 id="visibility">Column Visiblility and Responsive Design</h2>
    <p>
      You can hide whole columns or just the text of a column on small (sm) or very small (xs) screens.

      Hiding only the text can be useful if you only want to display an icon with no text on smaller screens.

      Additionally, you can manually toggle the visiblility of a column by modifying its visibility property.
    </p>
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>visibility</mat-icon>
          Display
        </ng-template>
        <div class="smt-container">
          <button style="margin-bottom: 15px" mat-raised-button
                  (click)="columnsVisibility[2].visible = !columnsVisibility[2].visible">
            Toggle Description-Column
          </button>
          <smc-simplemattable [data]="dataVisibility" [columns]="columnsVisibility"></smc-simplemattable>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>code</mat-icon>
          Code
        </ng-template>
        <div class="code">
          <p>Typescript - Data</p>
          <mat-divider></mat-divider>
          <pre><code [highlight]="typescriptData" language="typescript"></code></pre>
          <p>Typescript - Columns</p>
          <mat-divider></mat-divider>
          <pre><code [highlight]="typescriptColumns" language="typescript"></code></pre>
          <p>HTML</p>
          <mat-divider></mat-divider>
          <pre><code [highlight]="html" language="html"></code></pre>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
