<!-- Multiline Values -->
<div class="display">
  <div>
    <h2 id="multiline">Multiline values</h2>
    <p>
      By default, text that is too long for a cell will break into multiple lines according to the tables layout.

      However, since &lt;span&gt; is used to display the text, line feeds in the text will not be displayed.

      If you wish to display line feeds, use the textarea feature, which can be activated by specifying the maxLines
      attribute.
    </p>
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>visibility</mat-icon>
          Display
        </ng-template>
        <div class="smt-container">
          <smc-simplemattable [data]="dataMultiline" [columns]="columnsMultiline"></smc-simplemattable>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>code</mat-icon>
          Code
        </ng-template>
        <div class="code">
          <p>Typescript - Data</p>
          <mat-divider></mat-divider>
          <pre><code [highlight]="typescriptData" language="typescript"></code></pre>
          <p>Typescript - Columns</p>
          <mat-divider></mat-divider>
          <pre><code [highlight]="typescriptColumns" language="typescript"></code></pre>
          <p>HTML</p>
          <mat-divider></mat-divider>
          <pre><code [highlight]="html" language="html"></code></pre>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
