<!-- Form -->
<div class="display">
  <div>
    <h2 id="form">Form Functions</h2>
    <p>
      You can turn on adding, deleting and editing of elements seperately.
      SimpleMatTable supports number, text, large text (textarea), select, checkbox and date form fields.
      For more information on SimpleMatTable Forms, have a look <a
      href="https://www.npmjs.com/package/simplemattable#edit-mode" target="_blank">at the npm/github readme</a>.
    </p>
    <p>Note that the timeout in this example was used to demonstrate the loading circle.</p>
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>visibility</mat-icon>
          Display
        </ng-template>
        <div class="smt-container">
          <button mat-raised-button (click)="logDataForm()" style="margin-bottom: 25px">Log Data to console</button>
          <smc-simplemattable [data]="dataForm" [columns]="columnsForm" [editable]="true" [deletable]="true"
                              [addable]="true" (add)="formAdd($event)" (delete)="formDelete($event)"
                              (edit)="formEdit($event)" [create]="createFn"></smc-simplemattable>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>code</mat-icon>
          Code
        </ng-template>
        <div class="code">
          <p>Typescript - Data</p>
          <mat-divider></mat-divider>
          <pre><code [highlight]="typescriptData"></code></pre>
          <p>Typescript - Columns</p>
          <mat-divider></mat-divider>
          <pre><code [highlight]="typescriptColumns"></code></pre>

          <p>Typescript - Functions</p>
          <mat-divider></mat-divider>
          <pre><code [highlight]="typescriptMethods"></code></pre>

          <p>HTML</p>
          <mat-divider></mat-divider>
          <pre><code [highlight]="html"></code></pre>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
