<!-- Custom CSS -->
<div class="display">
  <div>
    <h2 id="customcss">Custom CSS</h2>
    <p>
      You can easily and dynamically apply css to the content of the table cell.
      SimpleMatTable will simply forward the style-object to Angular, so everything that works with standard Angular
      ngStyle/ngClass works here too.
    </p>
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>visibility</mat-icon>
          Display
        </ng-template>
        <div class="smt-container">
          <smc-simplemattable [data]="dataCustomCss" [columns]="columnsCustomCss"></smc-simplemattable>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>code</mat-icon>
          Code
        </ng-template>
        <div class="code">
          <p>Typescript - Data</p>
          <mat-divider></mat-divider>
          <pre><code [highlight]="typescriptData"></code></pre>
          <p>Typescript - Columns</p>
          <mat-divider></mat-divider>
          <pre><code [highlight]="typescriptColumns"></code></pre>
          <p>Global CSS (styles.css)</p>
          <mat-divider></mat-divider>
          <pre><code [highlight]="css"></code></pre>
          <p>HTML</p>
          <mat-divider></mat-divider>
          <pre><code [highlight]="html"></code></pre>
        </div>
      </mat-tab>
    </mat-tab-group>
    <h2 id="rowcss">Row Styling CSS</h2>
    <p>
      You can easily and dynamically apply css to the rows of the table cell.
      SimpleMatTable will simply forward the style-object to Angular, so everything that works with standard Angular
      ngStyle/ngClass works here too.
    </p>
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>visibility</mat-icon>
          Display
        </ng-template>
        <div class="smt-container">
          <smc-simplemattable [data]="dataCustomCss" [columns]="columnsRowCss"
                              [rowNgStyle]="rowNgStyle"></smc-simplemattable>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>code</mat-icon>
          Code
        </ng-template>
        <div class="code">
          <p>Typescript - Data</p>
          <mat-divider></mat-divider>
          <pre><code [highlight]="typescriptData"></code></pre>
          <p>Typescript - Columns</p>
          <mat-divider></mat-divider>
          <pre><code [highlight]="typescriptColumnsRowCss"></code></pre>
          <p>Typescript - Row Style Function</p>
          <mat-divider></mat-divider>
          <pre><code [highlight]="typescriptRowCssStyle"></code></pre>
          <p>HTML</p>
          <mat-divider></mat-divider>
          <pre><code [highlight]="htmlRowCss"></code></pre>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
