<!-- Filter/Colfilter -->
<div class="display">
  <div>
    <h2 id="filter">Filter and Column Filter</h2>
    <p>
      The table filter allows you to filter items using every column.
      Activate the column filter to enable column specific filtering.
    </p>
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>visibility</mat-icon>
          Display
        </ng-template>
        <div class="smt-container" style="background: white;">
          <smc-simplemattable [data]="dataFilter" [columns]="columnsFilter" [filter]="true"></smc-simplemattable>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>code</mat-icon>
          Code
        </ng-template>
        <div class="code">
          <p>Typescript - Data</p>
          <mat-divider></mat-divider>
          <pre><code [highlight]="typescriptData" language="typescript"></code></pre>
          <p>Typescript - Columns</p>
          <mat-divider></mat-divider>
          <pre><code [highlight]="typescriptColumns" language="typescript"></code></pre>
          <p>HTML</p>
          <mat-divider></mat-divider>
          <pre><code [highlight]="html" language="html"></code></pre>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
