<div class="display">
  <div>
    <h2 id="simple">Sticky columns</h2>
    <span>If you have a wide table that is scrollable and want to make a column stick, use the sticky table column options.</span>
    <span>You can use the sticky option to stick the column to the left of the table and stickyEnd to stick the column to the right of the table.</span>
    <span>The column will stick once it passed the left (sticky) or right (stickyEnd) border of the table.</span>
    <span>To make the button column that comes with the form functionalities sticky, use the simplemattable stickyButtons option.</span>

    <mat-tab-group>
      <mat-tab label="Display">
        <smc-simplemattable [data]="dataSimple" [columns]="columnsSimple" [stickyButtons]="true"
                            [editable]="true"></smc-simplemattable>
      </mat-tab>
      <mat-tab label="Code">
        <div class="code">
          <p>Typescript - Data</p>
          <hr>
          <pre>
this.dataSimple = [
  new ComplexTestData(1000000, 400000000, &#39;test1&#39;, null, &#39;test2&#39;),
  new ComplexTestData(2, 42, &#39;test2&#39;, null, &#39;test3&#39;),
  new ComplexTestData(3, 43, &#39;test2&#39;, null, &#39;test3&#39;),
  new ComplexTestData(4, 44, &#39;test2&#39;, null, &#39;test3&#39;),
  new ComplexTestData(5, 45, &#39;test2&#39;, null, &#39;test3&#39;)
];
  </pre>
          <p>Typescript - Columns</p>
          <hr>
          <pre>
this.columnsSimple = [
  new TableColumn&lt;ComplexTestData, &#39;id&#39;&gt;(&#39;My ID&#39;, &#39;id&#39;),
  new TableColumn&lt;ComplexTestData, &#39;value&#39;&gt;(&#39;My Value My Value&#39;, &#39;value&#39;)
    .isSticky(true),
  new TableColumn&lt;ComplexTestData, &#39;value&#39;&gt;(&#39;My Value&#39;, &#39;value&#39;),
  new TableColumn&lt;ComplexTestData, &#39;value&#39;&gt;(&#39;My Value&#39;, &#39;value&#39;),
  new TableColumn&lt;ComplexTestData, &#39;value&#39;&gt;(&#39;My Value&#39;, &#39;value&#39;),
  new TableColumn&lt;ComplexTestData, &#39;value&#39;&gt;(&#39;My Value&#39;, &#39;value&#39;),
  new TableColumn&lt;ComplexTestData, &#39;value&#39;&gt;(&#39;My Value&#39;, &#39;value&#39;),
  new TableColumn&lt;ComplexTestData, &#39;value&#39;&gt;(&#39;My Value&#39;, &#39;value&#39;),
  new TableColumn&lt;ComplexTestData, &#39;value&#39;&gt;(&#39;My Value&#39;, &#39;value&#39;),
  new TableColumn&lt;ComplexTestData, &#39;value&#39;&gt;(&#39;My Value&#39;, &#39;value&#39;),
  new TableColumn&lt;ComplexTestData, &#39;value&#39;&gt;(&#39;My Value&#39;, &#39;value&#39;),
  new TableColumn&lt;ComplexTestData, &#39;value&#39;&gt;(&#39;My Value&#39;, &#39;value&#39;),
  new TableColumn&lt;ComplexTestData, &#39;value&#39;&gt;(&#39;My Value&#39;, &#39;value&#39;),
  new TableColumn&lt;ComplexTestData, &#39;value&#39;&gt;(&#39;My Value&#39;, &#39;value&#39;),
  new TableColumn&lt;ComplexTestData, &#39;value&#39;&gt;(&#39;My Value&#39;, &#39;value&#39;),
  new TableColumn&lt;ComplexTestData, &#39;value&#39;&gt;(&#39;My Value&#39;, &#39;value&#39;),
  new TableColumn&lt;ComplexTestData, &#39;value&#39;&gt;(&#39;My Value&#39;, &#39;value&#39;),
  new TableColumn&lt;ComplexTestData, &#39;value&#39;&gt;(&#39;My Value&#39;, &#39;value&#39;),
  new TableColumn&lt;ComplexTestData, &#39;value&#39;&gt;(&#39;My Value&#39;, &#39;value&#39;),
  new TableColumn&lt;ComplexTestData, &#39;value&#39;&gt;(&#39;My Value&#39;, &#39;value&#39;)
];
  </pre>
          <p>HTML</p>
          <hr>
          <pre>
&lt;smc-simplemattable [data]=&quot;dataSimple&quot; [columns]=&quot;columnsSimple&quot; [stickyButtons]=&quot;true&quot;
                [editable]=&quot;true&quot;&gt;&lt;/smc-simplemattable&gt;
  </pre>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
