mat-sidenav {
  background: rgb(245, 247, 249);
}

.mat-list {
  padding-left: 35px;
}

.mat-list-item {
  height: 32px !important;
}

.sidenav-container {
  background: white;
  height: 100%;
}

.nav-list-item {
  cursor: pointer;
  text-decoration: none;
  padding: 0 32px 0 16px;
  outline: none;
}

.nav-list-item:hover {
  background: rgba(0, 0, 0, 0.125);
}

.toolbar {
  display: flex;
  position: fixed;
  z-index: 99999;
  top: 0;
}

.toolbar span {
  flex: 1 1 auto;
}

.active-link {
  background: white;
  border-style: solid none solid solid;
  border-width: 1px 0 1px 6px;
  border-color: rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  color: #673ab7;
  font-weight: bold!important;
  box-sizing: border-box;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),0px 2px 2px 0px rgba(0, 0, 0, 0.14),0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.repo-links {
  display: flex;
  align-items: center;
  padding: 0 10px;
  margin: 0 5px;
  height: 100%;
  cursor: pointer;
  background: rgba(255,255,255,0.5);
}

.repo-links:hover {
  //background: rgba(0, 0, 0, 0.15);
  background: rgba(255,255,255,0.2);
}
