/* mat-list mat-list-item {
  cursor: pointer;
}

mat-list mat-list-item:hover {
  background: rgba(0, 0, 0, 0.05);
} */

mat-list-item {
  height: 32px!important;
}

.active-item {
  background: rgba(0, 0, 0, 0.1);
}
