<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened [fixedInViewport]="true"
               style="background-color: rgba(0,0,0,.03); padding-left: 20px;">
    <div class="mat-body">
      <h3>SimpleMatComponents</h3>
      <span class="sidemenu-subtitle">SimpleMatTable</span>
      <div class="sidemenu">
        <ol>
          <li><a href="#simple">Simple</a></li>
          <li><a href="#transform">Transform</a></li>
          <li><a href="#width">Width and Height</a></li>
          <li><a href="#align">Align</a></li>
          <li><a href="#sortable">Sortable</a></li>
          <li><a href="#visibility">Visibility/Responsive</a></li>
          <li><a href="#iconsbuttons">Icons and Buttons</a></li>
          <li><a href="#multiline">Multiline values</a></li>
          <li><a href="#customcss">Custom CSS</a></li>
          <li><a href="#filter">Filter and Column Filter</a></li>
          <li><a href="#form">Form Features</a></li>
          <li><a href="#scrollable">Scrollable</a></li>
          <li><a href="#complete">Complete</a></li>
          <li><a href="#pagination">Pagination</a></li>
          <li><a href="#directEdit">Direct Edit</a></li>
        </ol>
      </div>
      <span class="sidemenu-subtitle">SimpleAlert</span>
      <div class="sidemenu">
        <ol>
          <li><a href="#infoAlert">Info Alert</a></li>
          <li><a href="#errorAlert">Error Alert</a></li>
          <li><a href="#warnAlert">Warn Alert</a></li>
          <li><a href="#successAlert">Success Alert</a></li>
        </ol>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>

    <div style="text-align:center;" class="mat-body">
      <h1>
        SimpleMatComponents Demo
      </h1>

      <hr>
      <h2>SimpleMatTable</h2>
      <div style="display: flex; justify-content: center">
        <div style="max-width: 1000px">
          <p>SimpleMatTable is an abstraction of MatTable from the @angular/material dependency. It allows you to
            quickly
            and in a typesafe way define tables. This is perfect if you want to display data in a table and do not need
            full
            control over the table HTML.
            <br>
            <br>
            Instead of copy/pasting the HTML for each column, you can describe the columns in a declarative way via
            Typescript code. A lot of different options like align, buttons, icons and even custom css allow you to
            further
            customize your table.</p>
          <p>In this demo, you will see some of the key features of simplemattable and how to use them. For a more
            thorough guide, head over to <a
              href="https://github.com/wobkenh/simplematcomponents/tree/master/projects/simplemattable">Github</a> or <a
              href="https://www.npmjs.com/package/simplemattable">NPM</a>.</p>
        </div>
      </div>
      <hr>

      <div class="display">
        <div>
          <h2 id="simple">1. Simple</h2>
          <span>Create your data, declare your tables, feed both to simplemattable and you're good to go!</span>

          <mat-tab-group>
            <mat-tab label="Display">
              <smc-simplemattable [data]="dataSimple" [columns]="columnsSimple"></smc-simplemattable>
            </mat-tab>
            <mat-tab label="Code">
              <div class="code">
                <p>Typescript - Data</p>
                <hr>
                <pre>
this.dataSimple = [
  new ComplexTestData(1, 40, 'test1', null, 'test2'),
  new ComplexTestData(2, 42, 'test2', null, 'test3')
];
      </pre>
                <p>Typescript - Columns</p>
                <hr>
                <pre>
this.columnsSimple = [
  new TableColumn&lt;ComplexTestData, 'id'&gt;('My ID', 'id'),
  new TableColumn&lt;ComplexTestData, 'value'&gt;('My Value', 'value')
];
      </pre>
                <p>HTML</p>
                <hr>
                <pre>
&lt;smc-simplemattable [data]=&quot;dataSimple&quot; [columns]=&quot;columnsSimple&quot;&gt;&lt;/smc-simplemattable&gt;
      </pre>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>

      <div class="display">
        <div>
          <h2 id="transform" style="margin-top: 50px;">2. Transform</h2>
          <span>You can use transform to display strings in your table which are different from the underlying value.</span>
          <br>
          <span>Use this to display properties from nested objects. (see column "Nested Value")</span>
          <mat-tab-group>
            <mat-tab label="Display">
              <smc-simplemattable [data]="dataTransform" [columns]="columnsTransform"></smc-simplemattable>
            </mat-tab>
            <mat-tab label="Code">
              <div class="code">
                <p>Typescript - Data</p>
                <hr>
                <pre>
this.dataTransform = [
  new ComplexTestData(1, 40, 'test1', new TestData('Key1', 'Value1', d1), 'test2'),
  new ComplexTestData(2, 42, 'test2', new TestData('Key2', 'Value2', d2), 'test3')
];
      </pre>
                <p>Typescript - Columns</p>
                <hr>
                <pre>
this.columnsTransform = [
  new TableColumn&lt;ComplexTestData, 'id'&gt;('My ID', 'id'),
  new TableColumn&lt;ComplexTestData, 'value'&gt;('My Value', 'value'),
  new TableColumn&lt;ComplexTestData, 'value'&gt;('My Value * 2', 'value')
    .withTransform((data) =&gt; (data * 2).toString()),
  new TableColumn&lt;ComplexTestData, 'data'&gt;('Nested Value', 'data')
    .withTransform((data) =&gt; data.value)
];
      </pre>
                <p>HTML</p>
                <hr>
                <pre>
&lt;smc-simplemattable [data]=&quot;dataTransform&quot; [columns]=&quot;columnsTransform&quot;&gt;&lt;/smc-simplemattable&gt;
      </pre>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>


      <!-- Width -->
      <div class="display">
        <div>
          <h2 id="width" style="margin-top: 50px;">3. Width and Height</h2>
          <span>Use the width-object to set the width of a column and the height-function to set the height of a cell.</span>
          <br>
          <span>You can use percent or pixel based values.</span>
          <br>
          <span>The standard table layout calculations will be used to determine the width of each column and the height of each cell.</span>
          <mat-tab-group>
            <mat-tab label="Display">
              <smc-simplemattable [data]="dataWidth" [columns]="columnsWidth"></smc-simplemattable>
            </mat-tab>
            <mat-tab label="Code">
              <div class="code">
                <p>Typescript - Data</p>
                <hr>
                <pre>
this.dataWidth = [
  new ComplexTestData(1, 40, 'test1', null, 'test2'),
  new ComplexTestData(2, 42, 'test2', null, 'test3')
];
      </pre>
                <p>Typescript - Columns</p>
                <hr>
                <pre>
this.columnsWidth = [
  new TableColumn&lt;ComplexTestData, 'id'&gt;('My ID', 'id')
    .withWidth(Width.px(100))
    .withHeightFn((id) => id === 1 ? Height.px(100) : null),
  new TableColumn&lt;ComplexTestData, 'value'&gt;('My Value', 'value')
    .withWidth(Width.pct(50)),
  new TableColumn&lt;ComplexTestData, 'description'&gt;('My Description', 'description')
];
      </pre>
                <p>HTML</p>
                <hr>
                <pre>
&lt;smc-simplemattable [data]=&quot;dataWidth&quot; [columns]=&quot;columnsWidth&quot;&gt;&lt;/smc-simplemattable&gt;
      </pre>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>


      <!-- Align -->
      <div class="display">
        <div>
          <h2 id="align" style="margin-top: 50px;">4. Align</h2>
          <span>You can easily change the text-direction using the align-object.</span>
          <mat-tab-group>
            <mat-tab label="Display">
              <smc-simplemattable [data]="dataAlign" [columns]="columnsAlign"></smc-simplemattable>
            </mat-tab>
            <mat-tab label="Code">
              <div class="code">
                <p>Typescript - Data</p>
                <hr>
                <pre>
this.dataAlign = [
  new ComplexTestData(1, 40, 'test1', null, 'test2'),
  new ComplexTestData(2, 42, 'test2', null, 'test3')
];
      </pre>
                <p>Typescript - Columns</p>
                <hr>
                <pre>
this.columnsAlign = [
  new TableColumn&lt;ComplexTestData, 'id'&gt;('My ID - Left Align (Default)', 'id')
    .withWidth(Width.pct(33)),
  new TableColumn&lt;ComplexTestData, 'value'&gt;('My Value - Center Align', 'value')
    .withWidth(Width.pct(33))
    .withAlign(Align.CENTER),
  new TableColumn&lt;ComplexTestData, 'description'&gt;('My Description - Right Align', 'description')
    .withWidth(Width.pct(33))
    .withAlign(Align.RIGHT),
];
      </pre>
                <p>HTML</p>
                <hr>
                <pre>
&lt;smc-simplemattable [data]=&quot;dataAlign&quot; [columns]=&quot;columnsAlign&quot;&gt;&lt;/smc-simplemattable&gt;
      </pre>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>


      <!-- Sortable -->
      <div class="display">
        <div>
          <h2 id="sortable" style="margin-top: 50px;">5. Sortable</h2>
          <span>Activating Sorting allows to sort all columns.</span>
          <br>
          <span>Use sortTransform if you need to change the sort order.</span>
          <mat-tab-group>
            <mat-tab label="Display">
              <smc-simplemattable [data]="dataSortable" [columns]="columnsSortable"
                                  [sorting]="true"></smc-simplemattable>
            </mat-tab>
            <mat-tab label="Code">
              <div class="code">
                <p>Typescript - Data</p>
                <hr>
                <pre>
this.dataSortable = [
  new ComplexTestData(1, 40, 'test1', new TestData('Key1', 'Value1', d1), 'test2'),
  new ComplexTestData(2, 42, 'test2', new TestData('Key2', 'Value2', d2), 'test3')
];
      </pre>
                <p>Typescript - Columns</p>
                <hr>
                <pre>
this.columnsSortable = [
  new TableColumn&lt;ComplexTestData, 'id'&gt;('My ID', 'id'),
  new TableColumn&lt;ComplexTestData, 'value'&gt;('My Value', 'value'),
  new TableColumn&lt;ComplexTestData, 'value'&gt;('My Value - Sorted in Reverse', 'value')
    .withSortTransform((data) =&gt; data * -1),
  new TableColumn&lt;ComplexTestData, 'data'&gt;('Nested Value', 'data')
    .withTransform((data) =&gt; data.value)
    .withSortTransform((data) =&gt; data.value)
];
      </pre>
                <p>HTML</p>
                <hr>
                <pre>
&lt;smc-simplemattable [data]=&quot;dataSortable&quot; [columns]=&quot;columnsSortable&quot; [sorting]=&quot;true&quot;&gt;&lt;/smc-simplemattable&gt;
      </pre>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>


      <!-- Column Visiblility and Responsive Design -->
      <div class="display">
        <div>
          <h2 id="visibility" style="margin-top: 50px;">6. Column Visiblility and Responsive Design</h2>
          <span>You can hide whole columns or just the text of a column on small (sm) or very small (xs) screens.</span>
          <br>
          <span>Hiding only the text can be useful if you only want to display an icon with no text on smaller screens.</span>
          <br>
          <span>Additionally, you can manually toggle the visiblility of a column by modifying its visibility property.</span>
          <mat-tab-group>
            <mat-tab label="Display">
              <button mat-raised-button (click)="columnsVisibility[2].visible = !columnsVisibility[2].visible">
                Toggle Description-Column
              </button>
              <smc-simplemattable [data]="dataVisibility" [columns]="columnsVisibility"></smc-simplemattable>
            </mat-tab>
            <mat-tab label="Code">
              <div class="code">
                <p>Typescript - Data</p>
                <hr>
                <pre>
this.dataVisibility = [
  new ComplexTestData(1, 40, 'test1', new TestData('Key1', 'Value1', d1), 'test2'),
  new ComplexTestData(2, 42, 'test2', new TestData('Key2', 'Value2', d2), 'test3')
];
      </pre>
                <p>Typescript - Columns</p>
                <hr>
                <pre>
this.columnsVisibility = [
  new TableColumn&lt;ComplexTestData, 'id'&gt;('My ID - Hidden Text on xs/sm', 'id')
    .isTextHiddenSm(true),
  new TableColumn&lt;ComplexTestData, 'value'&gt;('My Value - Hidden Column on xs/sm', 'value')
    .isHiddenSm(true),
  new TableColumn&lt;ComplexTestData, 'description'&gt;('My Description - Manual Toggle', 'description'),
];
      </pre>
                <p>HTML</p>
                <hr>
                <pre>
&lt;button mat-raised-button (click)=&quot;columnsVisibility[2].visible = !columnsVisibility[2].visible&quot;&gt;
  Toggle Description-Column
&lt;/button&gt;
&lt;smc-simplemattable [data]=&quot;dataVisibility&quot; [columns]=&quot;columnsVisibility&quot;&gt;&lt;/smc-simplemattable&gt;
      </pre>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>

      <!-- Column Icons And Buttons -->
      <div class="display">
        <div>
          <h2 id="iconsbuttons" style="margin-top: 50px;">7. Icons and Buttons</h2>
          <span>You can display all material style button types (normal, raised, icon).</span>
          <br>
          <span>You can specify an on click on all cells, even if they have no button. With no button type specified, the cell will turn into a clickable cell.</span>
          <br>
          <span>You can add an icon derived from the cells data to a column. You can also combine buttons and icons as you wish.</span>
          <mat-tab-group>
            <mat-tab label="Display">
              <span>Link Click count: {{linkClickCountIconsButtons}}</span>
              <br>
              <span>Link Last clicked ID: {{linkLastClickedIconsButtons}}</span>
              <br>
              <span>Raised Button Click count: {{btnClickCountIconsButtons}}</span>
              <br>
              <span>Raised Button Last clicked Value: {{btnLastClickedIconsButtons}}</span>
              <smc-simplemattable [data]="dataIconsButtons" [columns]="columnsIconsButtons"></smc-simplemattable>
            </mat-tab>
            <mat-tab label="Code">
              <div class="code">
                <p>Typescript - Data</p>
                <hr>
                <pre>
this.dataVisibility = [
  new ComplexTestData(1, 40, 'test1', new TestData('Key1', 'Value1', d1), 'test2'),
  new ComplexTestData(2, 42, 'test2', new TestData('Key2', 'Value2', d2), 'test3')
];
      </pre>
                <p>Typescript - Columns</p>
                <hr>
                <pre>
    this.columnsIconsButtons = [
      new TableColumn&lt;ComplexTestData, 'id'&gt;('My ID - Link', 'id')
        .withOnClick(id =&gt; {{"{"}}&#x2063;
          this.linkLastClickedIconsButtons = id;
          this.linkClickCountIconsButtons++;
        }),
      new TableColumn&lt;ComplexTestData, 'value'&gt;('My Value - Raised Button', 'value')
        .withButton(ButtonType.RAISED)
        .withOnClick(id =&gt; {{"{"}}&#x2063;
          this.btnLastClickedIconsButtons = id;
          this.btnClickCountIconsButtons++;
        }),
      new TableColumn&lt;ComplexTestData, 'description'&gt;('My Description - Icon', 'description')
        .withIcon((description) =&gt; description === 'test1' ? 'delete' : 'wifi'),
    ];
      </pre>
                <p>HTML</p>
                <hr>
                <pre>
&lt;span&gt;Link Click count: {{"{"}}{{"{"}}linkClickCountIconsButtons}}&lt;/span&gt;
&lt;br&gt;
&lt;span&gt;Link Last clicked ID: {{"{"}}{{"{"}}linkLastClickedIconsButtons}}&lt;/span&gt;
&lt;br&gt;
&lt;span&gt;Raised Button Click count: {{"{"}}{{"{"}}btnClickCountIconsButtons}}&lt;/span&gt;
&lt;br&gt;
&lt;span&gt;Raised Button Last clicked Value: {{"{"}}{{"{"}}btnLastClickedIconsButtons}}&lt;/span&gt;
&lt;smc-simplemattable [data]=&quot;dataIconsButtons&quot; [columns]=&quot;columnsIconsButtons&quot;&gt;&lt;/smc-simplemattable&gt;
      </pre>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>


      <!-- Multiline Values -->
      <div class="display">
        <div>
          <h2 id="multiline" style="margin-top: 50px;">8. Multiline values</h2>
          <span>By default, text that is too long for a cell will break into multiple lines according to the tables layout.</span>
          <br>
          <span>However, since &lt;span&gt; is used to display the text, line feeds in the text will not be displayed.</span>
          <br>
          <span>If you wish to display line feeds, use the textarea feature, which can be activated by specifying the maxLines attribute.</span>
          <mat-tab-group>
            <mat-tab label="Display">

              <smc-simplemattable [data]="dataMultiline" [columns]="columnsMultiline"></smc-simplemattable>
            </mat-tab>
            <mat-tab label="Code">
              <div class="code">
                <p>Typescript - Data</p>
                <hr>
                <pre>
this.dataMultiline = [
  new ComplexTestData(1, 40, 'Lorem ipsum dolor sit amet, consetetur sadipscing ' +
    'elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam ' +
    'voluptua.', null, 'test2'),
  new ComplexTestData(2, 42, 'Text\nWith\nMultiline\nJust\nLook\nAt\nMe!!!', null, 'test3'),
  new ComplexTestData(3, 43, 'Regular Text!!!', null, 'test3')
];
      </pre>
                <p>Typescript - Columns</p>
                <hr>
                <pre>
this.columnsMultiline = [
  new TableColumn&lt;ComplexTestData, 'id'&gt;('My ID - Link', 'id')
    .withWidth(Width.px(100)),
  new TableColumn&lt;ComplexTestData, 'description'&gt;('My Description - span', 'description')
    .withWidth(Width.px(300)),
  new TableColumn&lt;ComplexTestData, 'description'&gt;('My Description - textarea', 'description')
    .withMaxLines(20),
];
      </pre>
                <p>HTML</p>
                <hr>
                <pre>
&lt;smc-simplemattable [data]=&quot;dataMultiline&quot; [columns]=&quot;columnsMultiline&quot;&gt;&lt;/smc-simplemattable&gt;
      </pre>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>


      <!-- Custom CSS -->
      <div class="display">
        <div>
          <h2 id="customcss" style="margin-top: 50px;">9. Custom CSS</h2>
          <span>You can easily and dynamically apply css to the content of the table cell.</span>
          <br>
          <span>SimpleMatTable will simply forward the style-object to Angular, so everything that works with standard Angular ngStyle/ngClass works here too.</span>
          <mat-tab-group>
            <mat-tab label="Display">
              <smc-simplemattable [data]="dataCustomCss" [columns]="columnsCustomCss"></smc-simplemattable>
            </mat-tab>
            <mat-tab label="Code">
              <div class="code">
                <p>Typescript - Data</p>
                <hr>
                <pre>
this.dataCustomCss = [
  new ComplexTestData(1, 40, 'description 1', null, 'test2'),
  new ComplexTestData(2, 42, 'description 2', null, 'test3'),
  new ComplexTestData(3, 43, 'description 3', null, 'test3')
];
      </pre>
                <p>Typescript - Columns</p>
                <hr>
                <pre>
this.columnsCustomCss = [
  new TableColumn&lt;ComplexTestData, 'id'&gt;('My ID - Color depends on id', 'id')
    .withNgStyle((id) =&gt; ({{"{"}}'background-color': 'rgb(0, ' + id * 50 + ', 0)'})),
  new TableColumn&lt;ComplexTestData, 'description'&gt;('My Description with background image (ngStyle)', 'description')
    .withNgStyle(() =&gt; ({{"{"}}'background-image': 'url(assets/smile.png)'})),
  new TableColumn&lt;ComplexTestData, 'description'&gt;('My Description with background color (ngClass)', 'description')
    .withNgClass(() =&gt; 'red-bg-cell')
];
      </pre>
                <p>Global CSS (styles.css)</p>
                <hr>
                <pre>
.red-bg-cell {{"{"}}&#x2063;
  background: #992222 !important;
  color: white;
}
      </pre>
                <p>HTML</p>
                <hr>
                <pre>
&lt;smc-simplemattable [data]=&quot;dataCustomCss&quot; [columns]=&quot;columnsCustomCss&quot;&gt;&lt;/smc-simplemattable&gt;
      </pre>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>


      <!-- Filter/Colfilter -->
      <div class="display">
        <div>
          <h2 id="filter" style="margin-top: 50px;">10. Filter and Column Filter</h2>
          <span>The table filter allows you to filter items using every column.</span>
          <br>
          <span>Activate the column filter to enable column specific filtering.</span>
          <mat-tab-group>
            <mat-tab label="Display">
              <smc-simplemattable [data]="dataFilter" [columns]="columnsFilter" [filter]="true"></smc-simplemattable>
            </mat-tab>
            <mat-tab label="Code">
              <div class="code">
                <p>Typescript - Data</p>
                <hr>
                <pre>
this.dataFilter = [
  new ComplexTestData(1, 40, 'search for me test1', new TestData('Key1', 'Value1', d1), 'test2'),
  new ComplexTestData(2, 42, 'or for me test2', new TestData('Key2', 'Value2', d2), 'test3')
];
      </pre>
                <p>Typescript - Columns</p>
                <hr>
                <pre>
this.columnsFilter = [
  new TableColumn&lt;ComplexTestData, 'id'&gt;('My ID', 'id'),
  new TableColumn&lt;ComplexTestData, 'description'&gt;('My Description with column filter', 'description')
    .withColFilter(),
  new TableColumn&lt;ComplexTestData, 'data'&gt;('Nested Value with column filter', 'data')
    .withTransform(data =&gt; data.value)
    .withColFilter(),
];
      </pre>
                <p>HTML</p>
                <hr>
                <pre>
&lt;smc-simplemattable [data]=&quot;dataFilter&quot; [columns]=&quot;columnsFilter&quot; [filter]=&quot;true&quot;&gt;&lt;/smc-simplemattable&gt;
      </pre>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>


      <!-- Form -->
      <div class="display">
        <div>
          <h2 id="form" style="margin-top: 50px;">11. Form Functions</h2>
          <span>You can turn on adding, deleting and editing of elements seperately.</span>
          <br>
          <span>SimpleMatTable supports number, text, large text (textarea), select and date form fields.</span>
          <br>
          <span>For more information on SimpleMatTable Forms, have a look at the npm/github readme.</span>
          <br>
          <span>The timeout in this example was used to demonstrate the loading circle.</span>
          <mat-tab-group>
            <mat-tab label="Display">
              <button mat-raised-button (click)="logDataForm()">Log Data to console</button>
              <smc-simplemattable [data]="dataForm" [columns]="columnsForm" [editable]="true" [deletable]="true"
                                  [addable]="true" (add)="formAdd($event)" (delete)="formDelete($event)"
                                  (edit)="formEdit($event)" [create]="createFn"></smc-simplemattable>
            </mat-tab>
            <mat-tab label="Code">
              <div class="code">
                <p>Typescript - Data</p>
                <hr>
                <pre>
this.dataForm = [
  new ComplexTestData(1, 40, 'test1', new TestData('Key1', 'Value1', d1), 'test2'),
  new ComplexTestData(2, 42, 'test2', new TestData('Key2', 'Value2', d2), 'test3')
];
      </pre>
                <p>Typescript - Columns</p>
                <hr>
                <pre>
const formIdCol = new TableColumn&lt;ComplexTestData, 'id'&gt;('My ID', 'id');
const formValueCol = new TableColumn&lt;ComplexTestData, 'value'&gt;('My Value', 'value');
formValueCol.withFormField(formValueCol.getNumberFormField());
const formDataValCol = new TableColumn&lt;ComplexTestData, 'data'&gt;('Nested Value', 'data')
  .withTransform(data =&gt; data.value);
formDataValCol.withFormField(formDataValCol.getTextFormField()
  .withInit(data =&gt; data.value)
  .withApply((val, data) =&gt; {{"{"}}&#x2063;
    data.value = val;
    return data;
  }));
this.columnsForm = [
  formIdCol, formValueCol, formDataValCol
];
      </pre>

                <p>Typescript - Functions</p>
                <hr>
                <pre>
createFn(): ComplexTestData {{"{"}}&#x2063;
  return new ComplexTestData(0, 42, '', new TestData('', '', new Date()), '');
}

formAdd(element: ComplexTestData) {{"{"}}&#x2063;
  setTimeout(() =&gt; {{"{"}}&#x2063;
    element.id = this.id++;
    this.dataForm.push(element);
    this.dataForm = this.dataForm.slice(0);
  }, 2000);
}

formDelete(element: ComplexTestData) {{"{"}}&#x2063;
  setTimeout(() =&gt; {{"{"}}&#x2063;
    const index = this.dataForm.indexOf(element);
    if (index &gt;= 0) {{"{"}}&#x2063;
                  this.dataForm.splice(index, 1);
                this.dataForm = this.dataForm.slice(0);
    }
  }, 2000);
}

formEdit(element: ComplexTestData) {{"{"}}&#x2063;
  setTimeout(() =&gt; {{"{"}}&#x2063;
    this.dataForm[this.dataForm.findIndex(ele =&gt; ele.id === element.id)] = element;
    this.dataForm = this.dataForm.slice(0);
  }, 2000);
}
      </pre>

                <p>HTML</p>
                <hr>
                <pre>
&lt;smc-simplemattable [data]=&quot;dataForm&quot; [columns]=&quot;columnsForm&quot; [editable]=&quot;true&quot; [deletable]=&quot;true&quot;
                    [addable]=&quot;true&quot; (add)=&quot;formAdd($event)&quot; (delete)=&quot;formDelete($event)&quot;
                    (edit)=&quot;formEdit($event)&quot; [create]=&quot;createFn&quot;&gt;&lt;/smc-simplemattable&gt;
      </pre>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>


      <!-- Scrollable Table -->
      <div class="display">
        <div>
          <h2 id="scrollable" style="margin-top: 50px;">12. Scrollable Tables</h2>
          <span>If you limit the height of a table with a lot of rows, a scrollbar will appear.</span>
          <br>
          <span>If you want to keep the header row at the top even when scrolling, use the sticky attribute.</span>
          <mat-tab-group>
            <mat-tab label="Display">
              <smc-simplemattable [data]="dataScrollable" [columns]="columnsScrollable"
                                  [sticky]="true" style="height: 300px"></smc-simplemattable>
            </mat-tab>
            <mat-tab label="Code">
              <div class="code">
                <p>Typescript - Data</p>
                <hr>
                <pre>
this.dataScrollable = [
  new ComplexTestData(1, 40, 'description 1', null, 'test2'),
  new ComplexTestData(2, 42, 'description 2', null, 'test3'),
  new ComplexTestData(3, 43, 'description 3', null, 'test3'),
  new ComplexTestData(4, 44, 'description 4', null, 'test4'),
  new ComplexTestData(5, 45, 'description 5', null, 'test5'),
  new ComplexTestData(6, 46, 'description 6', null, 'test6'),
  new ComplexTestData(7, 47, 'description 7', null, 'test7'),
  new ComplexTestData(8, 48, 'description 8', null, 'test8'),
  new ComplexTestData(9, 49, 'description 9', null, 'test9'),
  new ComplexTestData(10, 50, 'description 10', null, 'test10'),
  new ComplexTestData(11, 51, 'description 11', null, 'test11'),
  new ComplexTestData(12, 52, 'description 12', null, 'test12'),
  new ComplexTestData(13, 53, 'description 13', null, 'test13'),
  new ComplexTestData(14, 54, 'description 14', null, 'test14')
];
      </pre>
                <p>Typescript - Columns</p>
                <hr>
                <pre>
this.columnsScrollable = [
  new TableColumn&lt;ComplexTestData, 'id'&gt;('My ID', 'id'),
  new TableColumn&lt;ComplexTestData, 'value'&gt;('My Value', 'value'),
  new TableColumn&lt;ComplexTestData, 'description'&gt;('My Description', 'description')
];
      </pre>
                <p>HTML</p>
                <hr>
                <pre>
&lt;smc-simplemattable [data]=&quot;dataScrollable&quot; [columns]=&quot;columnsScrollable&quot;
                    [sticky]=&quot;true&quot; style=&quot;height: 300px&quot;&gt;&lt;/smc-simplemattable&gt;
      </pre>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>


      <!-- Complete Table -->
      <div class="display">
        <div>
          <h2 id="complete" style="margin-top: 50px;">13. Complete Table</h2>
          <span>So lets throw everything you've seen so far and even more together and see what happens...</span>
          <mat-tab-group>
            <mat-tab label="Display">
              <smc-simplemattable [data]="dataComplete" [columns]="columnsComplete" [paginator]="true" [filter]="true"
                                  (edit)="onEdit($event)" [paginatorPageSize]="3"
                                  [sorting]="true" [editable]="true" [addable]="true" [deletable]="true"
                                  (add)="onAdd($event)"
                                  addIcon="account_box" [deleteIcon]="'check_box_outline_blank'" [sticky]="false"
                                  [create]="createFn" (delete)="onDelete($event)"></smc-simplemattable>
            </mat-tab>
            <mat-tab label="Code">
              <div class="code">
                <p>Typescript - Data</p>
                <hr>
                <pre>
this.dataComplete = [
  new ComplexTestData(1, 40, 'test1', new TestData('Key1', 'Value1', d1), 'test1'),
  new ComplexTestData(2, 41, '', new TestData('Key2', 'Value2', d2), ''),
  new ComplexTestData(3, 39, 'test3', new TestData('Key3', 'Value3', d3), 'test3'),
  new ComplexTestData(4, 39, 'test3', new TestData('Key3', 'Value3', d3), 'test3'),
  new ComplexTestData(5, 39, 'test3', new TestData('Key3', 'Value3', d3), 'test3'),
  new ComplexTestData(6, 39, 'test3', new TestData('Key3', 'Value3', d3), 'test3'),
  new ComplexTestData(7, 39, 'test3', new TestData('Key3', 'Value3', d3), 'test3'),
  new ComplexTestData(8, 40, 'test1', new TestData('Key1', 'Value1', d1), 'test1'),
  new ComplexTestData(9, 41, '', new TestData('Key2', 'Value2', d2), ''),
  new ComplexTestData(10, 39, 'test3', new TestData('Key3', 'Value3', d3), 'test3'),
  new ComplexTestData(11, 39, 'test3', new TestData('Key3', 'Value3', d3), 'test3'),
  new ComplexTestData(12, 39, 'test3', new TestData('Key3', 'Value3', d3), 'test3'),
  new ComplexTestData(13, 39, 'test3', new TestData('Key3', 'Value3', d3), 'test3'),
  new ComplexTestData(14, 39, 'test3', new TestData('Key3', 'Value3', d3), 'test3')
];
      </pre>
                <p>Typescript - Columns</p>
                <hr>
                <pre>
const completeIdCol = new TableColumn&lt;ComplexTestData, 'id'&gt;('ID with button', 'id')
  .withIcon((id) =&gt; id &lt; 3 ? 'add' : 'delete')
  .withButton(ButtonType.RAISED)
  .withButtonColor('primary')
  .withWidth(Width.px(125))
  // .withHeightFn(() =&gt; Height.px(100))
  .isTextHiddenXs(true);
const completeDesCol = new TableColumn&lt;ComplexTestData, 'description'&gt;('Description', 'description')
  .withColFilter()
  .withTransform(() =&gt; '')
  .withHeightFn(() =&gt; Height.px(150))
  .withWidth(Width.px(150))
  .withNgStyle(() =&gt; {{"{"}}&#x2063;
    return {{"{"}}&#x2063;
      'background': 'url(assets/smile.png)',
      'background-size': 'contain',
      'background-repeat': 'repeat',
      // 'height': '150px'
    };
  })
  .isHiddenSm(true);
completeDesCol.withFormField(completeDesCol
  .getCheckboxFormField()
  .withInit((des) => des !== 'false')
  .withApply((bool) => bool ? 'very true' : 'false'));
const completeValueCol = new TableColumn&lt;ComplexTestData, 'value'&gt;('Number with select', 'value')
  .withColFilter()
  .withAlign(Align.CENTER);

completeValueCol.withFormField(completeValueCol.getSelectFormField&lt;number&gt;()
  .withOptions([
                  {{"{"}}&#x2063;display: '39', value: 39},
                  {{"{"}}&#x2063;display: '40', value: 40},
                  {{"{"}}&#x2063;display: '41', value: 41},
                  {{"{"}}&#x2063;display: 'eine lustige Zahl', value: 420}
  ])
  .withValidators([Validators.required, Validators.min(25)])
  .withErrors([
                  {{"{"}}&#x2063;key: 'required', msg: 'Value is required!'},
                  {{"{"}}&#x2063;key: 'min', msg: 'Value should be at least 25!'}
  ]));
const completeTestErrorCol = new TableColumn&lt;ComplexTestData, 'data'&gt;('Nested Value Select', 'data')
  .withTransform(data =&gt; data.value)
  .withAlign(Align.CENTER);
completeTestErrorCol.withFormField(completeTestErrorCol.getSelectFormField&lt;string&gt;()
  .withOptions([
                  {{"{"}}&#x2063;display: 'Manatee', value: 'Manatee'},
                  {{"{"}}&#x2063;display: 'Dog', value: 'Dog'},
                  {{"{"}}&#x2063;display: 'Natalie Dormer', value: 'Natalie Dormer'},
                  {{"{"}}&#x2063;display: 'A Muffin', value: 'A Hotdog'},
  ]).withPlaceholder('Sexiest Thing alive'));
const completeDes2Col = new TableColumn&lt;ComplexTestData, 'description'&gt;('Description2', 'description')
  .isVisible(false)
  .withAlign(Align.LEFT)
  .withMinLines(3)
  .withMaxLines(3)
  .withOnClick((data) =&gt; console.log(data));
completeDes2Col.withFormField(completeDes2Col.getLargeTextFormField().withHint('Hier steht ein langer Text'));
const completeKeyCol = new TableColumn&lt;ComplexTestData, 'data'&gt;('Key', 'data')
  .withTransform((data) =&gt; data.key)
  .isHiddenSm(true)
  .withOnClick((data) =&gt; console.log(data));
completeKeyCol.withFormField(completeKeyCol.getTextFormField()
  .withFocus(true)
  .withInit((data) =&gt; data.key)
  .withApply((id, data) =&gt; {{"{"}}&#x2063;
    data.key = id;
    return data;
  }))
  .withAlign(Align.RIGHT);
const completeValCol = new TableColumn&lt;ComplexTestData, 'data'&gt;('Value with icon', 'data')
  .isHiddenXs(true)
  .withNgClass(() =&gt; 'red-bg-cell')
  .withIcon(() =&gt; 'menu')
  .withColFilter()
  .withTransform((data) =&gt; data.value);
const completeDateCol = new TableColumn&lt;ComplexTestData, 'data'&gt;('Date right align', 'data')
  .withTransform((data) =&gt; this.getDateStr(data.date))
  .withSortTransform(data =&gt; data.date.toISOString())
  .withAlign(Align.RIGHT)
  .withColFilter();
completeDateCol.withFormField(completeDateCol.getDateFormField()
  .withHint('Only past dates.')
  .withPlaceholder('Date')
  .withErrors([
                  {{"{"}}&#x2063;key: 'required', msg: 'Date is required!'},
                  {{"{"}}&#x2063;key: 'pastDate', msg: 'Date needs to be in the past!'}
  ])
  .withValidators([Validators.required, this.pastDateValidator])
  .withInit(data =&gt; data.date)
  .withApply((val, data) =&gt; {{"{"}}&#x2063;
    data.date = val;
    return data;
  })
);
const completeMultilineCol = new TableColumn&lt;ComplexTestData, 'notes'&gt;('This header will take multiple lines to display the header', 'notes')
  .withColFilter();
this.columnsComplete = [completeIdCol, completeTestErrorCol, completeDesCol, completeDes2Col, completeValueCol, completeKeyCol, completeValCol, completeDateCol, completeMultilineCol];
      </pre>
                <p>HTML</p>
                <hr>
                <pre>
&lt;smc-simplemattable [data]=&quot;dataComplete&quot; [columns]=&quot;columnsComplete&quot; [paginator]=&quot;true&quot; [filter]=&quot;true&quot;
                    (edit)=&quot;onEdit($event)&quot; [paginatorPageSize]=&quot;3&quot;
                    [sorting]=&quot;true&quot; [editable]=&quot;true&quot; [addable]=&quot;true&quot; [deletable]=&quot;true&quot;
                    (add)=&quot;onAdd($event)&quot;
                    addIcon=&quot;account_box&quot; [deleteIcon]=&quot;'check_box_outline_blank'&quot; [sticky]=&quot;false&quot;
                    [create]=&quot;createFn&quot; (delete)=&quot;onDelete($event)&quot;&gt;&lt;/smc-simplemattable&gt;
      </pre>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>

      <div class="display">
        <div>
          <h2 id="pagination">14. Pagination</h2>
          <span>Turn on backend pagination to only fetch the data you really need</span>
          <span>Note that normally, you would fetch the paginatorLength from a backend server.</span>
          <mat-tab-group>
            <mat-tab label="Display">
              <button mat-raised-button (click)="resetToPageZero()">Go to page index zero</button>
              <button mat-raised-button (click)="resetToPageSizeTen()">Set page size to 10</button>
              <button mat-raised-button (click)="paginatorLength=paginatorLength+1">Add Page</button>
              <smc-simplemattable [data]="dataPagination" [columns]="columnsPagination" [paginator]="true"
                                  [backendPagination]="true" [paginatorLength]="paginatorLength"
                                  [pageSettings]="pageSettings"
                                  [getPage]="getPage"></smc-simplemattable>
            </mat-tab>
            <mat-tab label="Code">
              <div class="code">
                <p>Typescript - Data</p>
                <hr>
                <pre>
this.dataSimple = []; // Initial state
      </pre>
                <p>Typescript - Columns</p>
                <hr>
                <pre>
this.columnsSimple = [
  new TableColumn&lt;ComplexTestData, 'id'&gt;('My ID', 'id'),
  new TableColumn&lt;ComplexTestData, 'value'&gt;('My Value', 'value')
];
      </pre>
                <p>Typescript - getPage and reset functions</p>
                <hr>
                <pre>
getPage(offset: number, limit: number): Observable&lt;ComplexTestData[]&gt; {{"{"}}&#x2063;
  console.log(&#39;Fetching page index &#39; + offset + &#39; with page size&#39; + limit);
  const observable = new Subject&lt;ComplexTestData[]&gt;();
  setTimeout(() =&gt; {{"{"}}&#x2063;
    // simulate backend request
    const data: ComplexTestData[] = [];
    if (offset === 10) {{"{"}}&#x2063;
      limit = 1; // Simulate last page with only 1 entry
    }
    for (let i = 0; i &lt; limit; i++) {{"{"}}&#x2063;
      data.push(new ComplexTestData(i + offset * limit, i + offset * limit, &#39;&#39;, null, &#39;&#39;));
    }
    observable.next(data);
  }, 2000);
  return observable;
}

resetToPageZero() {{"{"}}&#x2063;
  this.pageSettings = {{"{"}}&#x2063;
    pageIndex: 0
  };
}

resetToPageSizeTen() {{"{"}}&#x2063;
  this.pageSettings = {{"{"}}&#x2063;
    pageSize: 10
  };
}
      </pre>
                <p>HTML</p>
                <hr>
                <pre>
&lt;button mat-raised-button (click)=&quot;resetToPageZero()&quot;&gt;Go to page index zero&lt;/button&gt;
&lt;button mat-raised-button (click)=&quot;resetToPageSizeTen()&quot;&gt;Set page size to 10&lt;/button&gt;
&lt;button mat-raised-button (click)=&quot;paginatorLength=paginatorLength+1&quot;&gt;Add Page&lt;/button&gt;
&lt;smc-simplemattable [data]=&quot;dataPagination&quot; [columns]=&quot;columnsPagination&quot; [paginator]=&quot;true&quot;
                    [backendPagination]=&quot;true&quot; [paginatorLength]=&quot;pageSettings&quot;
                    [getPage]=&quot;getPage&quot;&gt;&lt;/smc-simplemattable&gt;
      </pre>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>

      <div class="display">
        <div>
          <h2 id="directEdit">15. Direct Edit</h2>
          <span>Use direct edit on a column if you need the ngModel binding instead of a form control.</span>
          <span>Your data item will be directly edited as the user uses the form field.</span>
          <span>Note that errors/validations wont work with direct edit. You need to do validations yourself.</span>

          <mat-tab-group>
            <mat-tab label="Display">
              <button mat-raised-button (click)="logDataDirectEdit()">Log Data to console</button>
              <smc-simplemattable [data]="dataDirectEdit" [columns]="columnsDirectEdit"></smc-simplemattable>
            </mat-tab>
            <mat-tab label="Code">
              <div class="code">
                <p>Typescript - Data</p>
                <hr>
                <pre>
this.dataSimple = [
  new ComplexTestData(1, 40, 'test1', null, 'test2'),
  new ComplexTestData(2, 42, 'test2', null, 'test3')
];
      </pre>
                <p>Typescript - Columns</p>
                <hr>
                <pre>
const idCol = new TableColumn&lt;ComplexTestData, &#39;id&#39;&gt;(&#39;My ID&#39;, &#39;id&#39;);
const valueCol = new TableColumn&lt;ComplexTestData, &#39;value&#39;&gt;(&#39;My Value&#39;, &#39;value&#39;)
  .isDirectEdit(true);
valueCol.withFormField(valueCol.getCheckboxFormField());
const notesCol = new TableColumn&lt;ComplexTestData, &#39;notes&#39;&gt;(&#39;My Notes&#39;, &#39;notes&#39;)
  .isDirectEdit(true);
notesCol.withFormField(notesCol.getTextFormField());
this.columnsDirectEdit = [
  idCol, valueCol, notesCol
];
      </pre>
                <p>HTML</p>
                <hr>
                <pre>
&lt;smc-simplemattable [data]=&quot;dataDirectEdit&quot; [columns]=&quot;columnsDirectEdit&quot;&gt;&lt;/smc-simplemattable&gt;
      </pre>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>


      <hr style="margin-top: 100px">


      <h2>SimpleAlert</h2>
      <div style="display: flex; justify-content: center">
        <div style="max-width: 1000px">
          <p>SimpleAlert is a simple Angular component for info, error, danger and success alerts, inspired by bootstrap
            alerts. It can be dynamically opened/closed with opening/closing animations and can contain any content via
            ng-content.</p>
        </div>
      </div>
      <hr>

      <div class="display">
        <div>
          <h2 id="infoAlert" style="margin-top: 50px;">1. Info Alert</h2>
          <mat-tab-group>
            <mat-tab label="Display">
              <button (click)="openInfo()" mat-raised-button>open info</button>
              <smc-simplealert [(isOpen)]="isInfoOpen" [type]="alertType.INFO">This is an info alert!</smc-simplealert>
            </mat-tab>
            <mat-tab label="Code">
              <div class="code">
                <p>Typescript</p>
                <hr>
                <pre>
alertType = AlertType;
isInfoOpen = true;
openInfo() {{"{"}}&#x2063;
  this.isInfoOpen = true;
}</pre>
                <p>HTML</p>
                <hr>
                <pre>
&lt;button (click)=&quot;openInfo()&quot; mat-raised-button&gt;open info&lt;/button&gt;
&lt;smc-simplealert [(isOpen)]=&quot;isInfoOpen&quot; [type]=&quot;alertType.INFO&quot;&gt;This is an info alert!&lt;/smc-simplealert&gt;</pre>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>


      <div class="display">
        <div>
          <h2 id="errorAlert" style="margin-top: 50px;">2. Error Alert</h2>
          <mat-tab-group>
            <mat-tab label="Display">
              <button (click)="openError()" mat-raised-button>open error</button>
              <smc-simplealert [(isOpen)]="isErrorOpen" [type]="alertType.ERROR">This is an error alert!
              </smc-simplealert>
            </mat-tab>
            <mat-tab label="Code">
              <div class="code">
                <p>Typescript</p>
                <hr>
                <pre>
alertType = AlertType;
isErrorOpen = true;
openError() {{"{"}}&#x2063;
  this.isErrorOpen = true;
}</pre>
                <p>HTML</p>
                <hr>
                <pre>
&lt;button (click)=&quot;openInfo()&quot; mat-raised-button&gt;open error&lt;/button&gt;
&lt;smc-simplealert [(isOpen)]=&quot;isErrorOpen&quot; [type]=&quot;alertType.ERROR&quot;&gt;This is an error alert!&lt;/smc-simplealert&gt;</pre>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>


      <div class="display">
        <div>
          <h2 id="warnAlert" style="margin-top: 50px;">3. Warn Alert</h2>
          <mat-tab-group>
            <mat-tab label="Display">
              <button (click)="openError()" mat-raised-button>open warn</button>
              <smc-simplealert [(isOpen)]="isWarnOpen" [type]="alertType.WARN">This is a warn alert!</smc-simplealert>
            </mat-tab>
            <mat-tab label="Code">
              <div class="code">
                <p>Typescript</p>
                <hr>
                <pre>
alertType = AlertType;
openWarn() {{"{"}}&#x2063;
  this.isWarnOpen = true;
}</pre>
                <p>HTML</p>
                <hr>
                <pre>
&lt;button (click)=&quot;openWarn()&quot; mat-raised-button&gt;open warn&lt;/button&gt;
&lt;smc-simplealert [(isOpen)]=&quot;isWarnOpen&quot; [type]=&quot;alertType.WARN&quot;&gt;This is a warn alert!&lt;/smc-simplealert&gt;</pre>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>

      <div class="display">
        <div>
          <h2 id="successAlert" style="margin-top: 50px;">4. Success Alert</h2>
          <mat-tab-group>
            <mat-tab label="Display">
              <button (click)="openError()" mat-raised-button>open success</button>
              <smc-simplealert [(isOpen)]="isWarnOpen" [type]="alertType.SUCCESS">This is a success alert!
              </smc-simplealert>
            </mat-tab>
            <mat-tab label="Code">
              <div class="code">
                <p>Typescript</p>
                <hr>
                <pre>
alertType = AlertType;
openSuccess() {{"{"}}&#x2063;
  this.isSuccessOpen = true;
}</pre>
                <p>HTML</p>
                <hr>
                <pre>
&lt;button (click)=&quot;openSuccess()&quot; mat-raised-button&gt;open success&lt;/button&gt;
&lt;smc-simplealert [(isOpen)]=&quot;isSuccessOpen&quot; [type]=&quot;alertType.WARN&quot;&gt;This is a success alert!&lt;/smc-simplealert&gt;</pre>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>

      <div style="margin-top: 50px; padding-bottom: 25px">
        <hr>
        More coming soon TM
      </div>
    </div>


  </mat-sidenav-content>
</mat-sidenav-container>

