<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center;" class="mat-body">
  <h1>
    Welcome to SimpleMatComponents Demo!
  </h1>
  <hr>
  <h2>SimpleMatTable</h2>
  <div style="padding: 10px; height: 500px; display: flex; flex-direction: column">
    <button style="flex: 0 0 auto" (click)="toggleVisibility()" mat-raised-button>Toggle 3rd column</button>
    <button style="flex: 0 0 auto" (click)="addEntry()" mat-raised-button>Add entry</button>
    <smc-simplemattable [data]="testData" [columns]="columns" [paginator]="true" [filter]="false" (edit)="onEdit($event)"
                        [sorting]="true" [editable]="true" [addable]="true" [deletable]="true" (add)="onAdd($event)"
                        addIcon="account_box" [deleteIcon]="'check_box_outline_blank'" [sticky]="true"
                        style="flex: 1 1 auto" [create]="createFn" (delete)="onDelete($event)"></smc-simplemattable>
  </div>
  <div style="padding: 10px;">
    <button (click)="toggleVisibility2()" mat-raised-button>Toggle 3rd column</button>
    <button (click)="addEntry()" mat-raised-button>Add entry</button>
    <smc-simplemattable [data]="testData" [columns]="columns2" [paginator]="true" [filter]="true" (edit)="onEdit($event)"
                        [sorting]="true" [editable]="true" [addable]="true" [deletable]="true" (add)="onAdd($event)"
                        addIcon="account_box" [deleteIcon]="'check_box_outline_blank'" [sticky]="false"
                        [create]="createFn" (delete)="onDelete($event)"></smc-simplemattable>
  </div>
  <hr>
  <h2>SimpleAlert</h2>
  <div style="padding: 10px">
    <button (click)="openInfo()" mat-raised-button>open info</button>
    <smc-simplealert [(isOpen)]="isInfoOpen" [type]="alertType.INFO">This is an info alert!</smc-simplealert>
  </div>
  <div style="padding: 10px">
    <button (click)="openError()" mat-raised-button>open error</button>
    <smc-simplealert [(isOpen)]="isErrorOpen" [type]="alertType.ERROR">This is an error alert!</smc-simplealert>
  </div>
  <div style="padding: 10px">
    <button (click)="openWarn()" mat-raised-button>open warn</button>
    <smc-simplealert [(isOpen)]="isWarnOpen" [type]="'warn'">This is a warn alert!</smc-simplealert>
  </div>
  <div style="padding: 10px">
    <button (click)="openSuccess()" mat-raised-button>open success</button>
    <smc-simplealert [(isOpen)]="isSuccessOpen" [type]="'success'">This is a success alert!</smc-simplealert>
  </div>
  <hr>
  <div>More coming soon TM</div>
</div>
