<div class="display">
  <div>
    <h2 id="simple">Custom Components</h2>
    <p>
      Simplemattable offers quite powerful tools to customize the way table cells appear.
      However, sometimes, this might now be enough. In such cases, you can tell simplemattable to render one of your own components into the table cells.
    </p>
    <p style="margin-top: 10px">
      If your component has input parameters that need to be filled with data from your model, you can specify a function in which you can acces the component instance and the data. In this function, you can fill in the input parameters of your component yourself.
    </p>

    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>visibility</mat-icon>
          Display
        </ng-template>
        <div class="smt-container">
          <div style="margin-bottom: 25px">
            <button mat-raised-button (click)="changeData()" style="margin-right: 15px">Add to id</button>
            <button mat-raised-button (click)="toggleColumn()">Toggle id visibility</button>
          </div>
          <smc-simplemattable [data]="dataCustomComponent" [columns]="columnsCustomComponent"></smc-simplemattable>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>code</mat-icon>
          Code
        </ng-template>
        <div class="code">
          <p>Typescript - Data</p>
          <mat-divider></mat-divider>
          <pre [highlight]="typescriptData" language="typescript"></pre>
          <p>Typescript - Columns</p>
          <mat-divider></mat-divider>
          <pre><code [highlight]="typescriptColumns" language="typescript"></code></pre>
          <p>Typescript - Functions</p>
          <mat-divider></mat-divider>
          <pre><code [highlight]="typescriptFunctions" language="typescript"></code></pre>

          <p>Typescript - Custom Component (CustomTableCellComponent)</p>
          <mat-divider></mat-divider>
          <pre><code [highlight]="typescriptCustomComponent" language="typescript"></code></pre>
          <p>HTML</p>
          <mat-divider></mat-divider>
          <pre><code [highlight]="html" language="html"></code></pre>
          <p>HTML - Custom Component (CustomTableCellComponent)</p>
          <mat-divider></mat-divider>
          <pre><code [highlight]="htmlCustomComponent" language="html"></code></pre>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
