<div class="display">
  <div>
    <h2 id="simple">Simple</h2>
    <span>Create your data, declare your tables, feed both to simplemattable and you're good to go!</span>

    <mat-tab-group>
      <mat-tab label="Display">
        <smc-simplemattable [data]="dataSimple" [columns]="columnsSimple"></smc-simplemattable>
      </mat-tab>
      <mat-tab label="Code">
        <div class="code">
          <p>Typescript - Data</p>
          <hr>
          <pre>
this.dataSimple = [
  new ComplexTestData(1, 40, 'test1', null, 'test2'),
  new ComplexTestData(2, 42, 'test2', null, 'test3')
];
  </pre>
          <p>Typescript - Columns</p>
          <hr>
          <pre>
this.columnsSimple = [
  new TableColumn&lt;ComplexTestData, 'id'&gt;('My ID', 'id'),
  new TableColumn&lt;ComplexTestData, 'value'&gt;('My Value', 'value')
];
  </pre>
          <p>HTML</p>
          <hr>
          <pre>
&lt;smc-simplemattable [data]=&quot;dataSimple&quot; [columns]=&quot;columnsSimple&quot;&gt;&lt;/smc-simplemattable&gt;
  </pre>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
