<div class="display" style="min-height: 822px">
    <div>
      <h2 id="pagination">Pagination</h2>
      <span>Turn on backend pagination to only fetch the data you really need</span>
      <span>Note that normally, you would fetch the paginatorLength from a backend server.</span>
      <mat-tab-group>
        <mat-tab label="Display">
          <button mat-raised-button (click)="resetToPageZero()">Go to page index zero</button>
          <button mat-raised-button (click)="resetToPageSizeTen()">Set page size to 10</button>
          <smc-simplemattable [data]="dataPagination" [columns]="columnsPagination" [paginator]="true"
                              [backendPagination]="true" [paginatorLength]="paginatorLength"
                              [pageSettings]="pageSettings"
                              [getPage]="getPage"></smc-simplemattable>
        </mat-tab>
        <mat-tab label="Code">
          <div class="code">
            <p>Typescript - Data</p>
            <hr>
            <pre>
this.dataSimple = []; // Initial state
  </pre>
            <p>Typescript - Columns</p>
            <hr>
            <pre>
this.columnsSimple = [
  new TableColumn&lt;ComplexTestData, 'id'&gt;('My ID', 'id'),
  new TableColumn&lt;ComplexTestData, 'value'&gt;('My Value', 'value')
];
  </pre>
            <p>Typescript - getPage and reset functions</p>
            <hr>
            <pre>
getPage(offset: number, limit: number): Observable&lt;TestData[]&gt; {{ "{" }}
  /*
    Note that normally you would just return an observable obtained from a service method,
    which talks to your backend to fetch the data, e.g.:
    return this.myService.get(offset, limit);
  */
  console.log(&#39;Fetching page index &#39; + offset + &#39; with page size &#39; + limit);
  const observable = new Subject&lt;TestData[]&gt;();
  setTimeout(() =&gt; {{ "{" }}
    // simulate backend request
    const data: TestData[] = [];
    // Generate entries up to the max count to simulate backend having no more data
    const limitThisPage = Math.min(limit, this.paginatorLength - (offset * limit));
    for (let i = 0; i &lt; limitThisPage; i++) {{ "{" }}
      data.push(new TestData(&#39;Page &#39; + (offset + 1), &#39;Entry &#39; + (i + 1 + (offset * limit)), null));
    }
    observable.next(data);
  }, 1000);
  return observable;
}

resetToPageZero() {{"{"}}&#x2063;
  this.pageSettings = {{"{"}}&#x2063;
    pageIndex: 0
  };
}

resetToPageSizeTen() {{"{"}}&#x2063;
  this.pageSettings = {{"{"}}&#x2063;
    pageSize: 10
  };
}
  </pre>
            <p>HTML</p>
            <hr>
            <pre>
&lt;button mat-raised-button (click)=&quot;resetToPageZero()&quot;&gt;Go to page index zero&lt;/button&gt;
&lt;button mat-raised-button (click)=&quot;resetToPageSizeTen()&quot;&gt;Set page size to 10&lt;/button&gt;
&lt;smc-simplemattable [data]=&quot;dataPagination&quot; [columns]=&quot;columnsPagination&quot; [paginator]=&quot;true&quot;
                [backendPagination]=&quot;true&quot; [paginatorLength]=&quot;pageSettings&quot;
                [getPage]=&quot;getPage&quot;&gt;&lt;/smc-simplemattable&gt;
  </pre>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
