<div class="display">
    <div>
      <h2 id="simple">Simple</h2>
      <p>Create your data, declare your tables, feed both to simplemattable and you're good to go!</p>

      <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>visibility</mat-icon>
            Display
          </ng-template>
          <div class="smt-container">
            <smc-simplemattable [data]="dataSimple" [columns]="columnsSimple"></smc-simplemattable>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>code</mat-icon>
            Code
          </ng-template>
          <div class="code">
            <p>Typescript - Data</p>
            <mat-divider></mat-divider>
            <pre>
this.dataSimple = [
  new ComplexTestData(1, 40, 'test1', null, 'test2'),
  new ComplexTestData(2, 42, 'test2', null, 'test3')
];
  </pre>
            <p>Typescript - Columns</p>
            <mat-divider></mat-divider>
            <pre>
this.columnsSimple = [
  new TableColumn&lt;ComplexTestData, 'id'&gt;('My ID', 'id'),
  new TableColumn&lt;ComplexTestData, 'value'&gt;('My Value', 'value')
];
  </pre>
            <p>HTML</p>
            <mat-divider></mat-divider>
            <pre>
&lt;smc-simplemattable [data]=&quot;dataSimple&quot; [columns]=&quot;columnsSimple&quot;&gt;&lt;/smc-simplemattable&gt;
  </pre>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
