<!-- Scrollable Table -->
<div class="display">
  <div>
    <h2 id="scrollable">Scrollable Tables</h2>
    <p>
      If you want the content of simplemattable to be scrollable, set "overflowAuto" to true and limit the height of
      the simplemattable element.

      If you want to keep the header row at the top even when scrolling, use the sticky attribute. When using sticky,
      overflowAuto is automatically implied.
    </p>
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>visibility</mat-icon>
          Display
        </ng-template>
        <div class="smt-container">
          <smc-simplemattable [data]="dataScrollable" [columns]="columnsScrollable"
                              [sticky]="true" style="height: 300px"></smc-simplemattable>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>code</mat-icon>
          Code
        </ng-template>
        <div class="code">
          <p>Typescript - Data</p>
          <mat-divider></mat-divider>
          <pre><code [highlight]="typescriptData"></code></pre>
          <p>Typescript - Columns</p>
          <mat-divider></mat-divider>
          <pre><code [highlight]="typescriptColumns"></code></pre>
          <p>HTML</p>
          <mat-divider></mat-divider>
          <pre><code [highlight]="html"></code></pre>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
