<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened [fixedInViewport]="true"
               style="background-color: rgba(0,0,0,.03); padding-left: 20px;">
    <div class="mat-body">
      <h3>SimpleMatComponents</h3>
      <span class="sidemenu-subtitle">SimpleMatTable</span>
      <div class="sidemenu">
        <ol>
          <li><a href="#simple">Simple</a></li>
          <li><a href="#transform">Transform</a></li>
          <li><a href="#width">Width and Height</a></li>
          <li><a href="#align">Align</a></li>
          <li><a href="#sortable">Sortable</a></li>
          <li><a href="#visibility">Visibility/Responsive</a></li>
          <li><a href="#iconsbuttons">Icons and Buttons</a></li>
          <li><a href="#multiline">Multiline values</a></li>
          <li><a href="#customcss">Custom CSS</a></li>
          <li><a href="#filter">Filter and Column Filter</a></li>
          <li><a href="#form">Form Features</a></li>
          <li><a href="#scrollable">Scrollable</a></li>
          <li><a href="#complete">Complete</a></li>
          <li><a href="#pagination">Pagination</a></li>
          <li><a href="#directEdit">Direct Edit</a></li>
        </ol>
      </div>
      <span class="sidemenu-subtitle">SimpleAlert</span>
      <div class="sidemenu">
        <ol>
          <li><a href="#infoAlert">Info Alert</a></li>
          <li><a href="#errorAlert">Error Alert</a></li>
          <li><a href="#warnAlert">Warn Alert</a></li>
          <li><a href="#successAlert">Success Alert</a></li>
        </ol>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>

