<div class="display">
  <div>
    <h2 id="infiniteScrolling">Infinite Scrolling</h2>
    <p>
      Turn on infinite scrolling to let the user view more entries by scrolling down.
      Just like with pagination, the new data can be fetched using either the getPage parameter or reacting to the page
      event.

      Additionally, you can pass a height object to the "infiniteScrollingHeight" parameter to change the point at which
      a new page will be fetched. Default is 200px, which means that a new page will be fetched if the user is 200px or
      less away from reaching the bottom.

      Regarding the placement of the scrollbar, you have two options:
    </p>

    <h3>Scrollbar on Simplemattable</h3>
    <p>
      Limit the height of simplemattable and let the content of simplemattable be scrollable using either the
      overflowAuto or the sticky option.

      Even though the paginator is missing, you can still use the renderedData output events to get the displayed data,
      e.g. to show a count.
    </p>
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>visibility</mat-icon>
          Display
        </ng-template>
        <div class="smt-container">
          <smc-simplemattable [data]="dataInfiniteScroll" [columns]="columnsInfiniteScroll" [infiniteScrolling]="true"
                              [filter]="true" (renderedData)="updateCount($event)"
                              [sticky]="true" [getPage]="getPage"
                              style="height: 400px; background: white"></smc-simplemattable>
          <mat-divider></mat-divider>
          <div style="display: flex; align-items: center; justify-content: flex-end; padding: 20px 20px 10px 20px">
            Showing {{itemCount}} entries
          </div>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>code</mat-icon>
          Code
        </ng-template>
        <div class="code">
          <p>Typescript - Data</p>
          <mat-divider></mat-divider>
          <pre><code [highlight]="typescriptData" language="typescript"></code></pre>
          <p>Typescript - Columns</p>
          <mat-divider></mat-divider>
          <pre><code [highlight]="typescriptColumns" language="typescript"></code></pre>
          <p>Typescript - getPage and reset functions</p>
          <mat-divider></mat-divider>
          <pre><code [highlight]="typescriptGetPage" language="typescript"></code></pre>
          <p>HTML</p>
          <mat-divider></mat-divider>
          <pre><code [highlight]="html" language="html"></code></pre>
        </div>
      </mat-tab>
    </mat-tab-group>

    <h3>Resetting on user input</h3>
    <p>
      If you want to reset the data of the table and trigger a new page fetch, you can set the pageSettings object.
      This can be useful e.g. if the user changes search parameters and triggers a new search.
    </p>
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>visibility</mat-icon>
          Display
        </ng-template>
        <div class="smt-container">
          <div style="padding: 8px">
            <button mat-raised-button (click)="resetData()" style="margin-right: 16px">
              Reset data (e.g. after user clicked 'search')
            </button>
            <button mat-raised-button (click)="scrollToElement(15)" style="margin-right: 16px">
              Scroll to Element No. 16 (Index = 15)
            </button>
            <button mat-raised-button (click)="updateElement()">Update element at index 1</button>
          </div>
          <smc-simplemattable #smtInfiniteScrolling [data]="dataInfiniteScroll3" [columns]="columnsInfiniteScroll"
                              [infiniteScrolling]="true"
                              [filter]="true" (renderedData)="updateCount3($event)"
                              [sticky]="true" [getPage]="getPage" [pageSettings]="pageSettings"
                              style="height: 400px; background: white"></smc-simplemattable>
          <mat-divider></mat-divider>
          <div style="display: flex; align-items: center; justify-content: flex-end; padding: 20px 20px 10px 20px">
            Showing {{itemCount3}} entries
          </div>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>code</mat-icon>
          Code
        </ng-template>
        <div class="code">
          <p>Typescript - Data</p>
          <mat-divider></mat-divider>
          <pre><code [highlight]="typescriptData3" language="typescript"></code></pre>
          <p>Typescript - Columns</p>
          <mat-divider></mat-divider>
          <pre><code [highlight]="typescriptColumns3" language="typescript"></code></pre>
          <p>Typescript - getPage and reset functions</p>
          <mat-divider></mat-divider>
          <pre><code [highlight]="typescriptGetPage" language="typescript"></code></pre>
          <p>Reset</p>
          <pre><code [highlight]="typescriptReset" language="typescript"></code></pre>
          <p>Receive updates on displayed data</p>
          <pre><code [highlight]="typescriptUpdate" language="typescript"></code></pre>
          <p>Change elements</p>
          <pre><code [highlight]="typescriptUpdate2" language="typescript"></code></pre>
          <p>HTML</p>
          <mat-divider></mat-divider>
          <pre><code [highlight]="html3" language="html"></code></pre>
        </div>
      </mat-tab>
    </mat-tab-group>


    <h3>Scrollbar on Window</h3>
    <p>
      Leave the simplemattable height unlimited and let the window have the scrollbar.
      Note that the sticky header option is not available when using this strategy.
    </p>
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>visibility</mat-icon>
          Display
        </ng-template>
        <div class="smt-container">
          <smc-simplemattable [data]="dataInfiniteScroll2" [columns]="columnsInfiniteScroll" [infiniteScrolling]="true"
                              [getPage]="getPage"></smc-simplemattable>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>code</mat-icon>
          Code
        </ng-template>
        <div class="code">
          <p>Typescript - Data</p>
          <mat-divider></mat-divider>
          <pre><code [highlight]="typescriptData2" language="typescript"></code></pre>
          <p>Typescript - Columns</p>
          <mat-divider></mat-divider>
          <pre><code [highlight]="typescriptColumns2" language="typescript"></code></pre>
          <p>Typescript - getPage and reset functions</p>
          <mat-divider></mat-divider>
          <pre><code [highlight]="typescriptGetPage" language="typescript"></code></pre>
          <p>HTML</p>
          <mat-divider></mat-divider>
          <pre><code [highlight]="html2" language="html"></code></pre>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
