/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.red-bg-cell {
  background: #992222 !important;
  color: white;
}

smc-simplemattable .mat-form-field-infix {
  width: 100% !important;
}
