<div class="display">
  <div>
    <h2 id="directEdit">Direct Edit</h2>
    <div style="line-height: 1.5">
      Use direct edit on a column if you need the ngModel binding instead of a form control.
      Your data item will be directly edited as the user uses the form field.
      Note that errors/validations wont work with direct edit. You need to do validations yourself.
      Validating can be done using the <pre style="display:inline">onDirectEditModelChange</pre> callback on the form field. See the first table for an example.
    </div>

    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>visibility</mat-icon>
          Display
        </ng-template>
        <div class="smt-container">
          <button mat-raised-button (click)="logDataDirectEdit()" style="margin-bottom: 25px">Log Data to console
          </button>
          <smc-simplemattable [data]="dataDirectEdit" [columns]="columnsDirectEdit"></smc-simplemattable>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>code</mat-icon>
          Code
        </ng-template>
        <div class="code">
          <p>Typescript - Data</p>
          <mat-divider></mat-divider>
          <pre><code [highlight]="typescriptData"></code></pre>
          <p>Typescript - Columns</p>
          <mat-divider></mat-divider>
          <pre><code [highlight]="typescriptColumn"></code></pre>
          <p>HTML</p>
          <mat-divider></mat-divider>
          <pre><code [highlight]="html"></code></pre>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<div class="display">
  <div>
    <h2 id="directEdit2">Direct Edit</h2>
    <p>Example of a check-for-delete table using a direct edit checkbox.</p>

    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>visibility</mat-icon>
          Display
        </ng-template>
        <div class="smt-container">
          <div style="margin-bottom: 25px;">
            <button mat-raised-button (click)="deleteSelected()" style="margin-right: 15px">Delete Selected</button>
            <button mat-raised-button (click)="selectAllFiltered()" style="margin-right: 15px">Select all filtered
              elements
            </button>
            <button mat-raised-button (click)="deleteAllFiltered()">Delete all filtered elements</button>
          </div>
          <smc-simplemattable [data]="dataDirectEdit2" [columns]="columnsDirectEdit2" [filter]="true"
                              style="background: white"
                              (filteredData)="filteredData=$event" [paginator]="true"></smc-simplemattable>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>code</mat-icon>
          Code
        </ng-template>
        <div class="code">
          <p>Typescript - Data</p>
          <mat-divider></mat-divider>
          <pre><code [highlight]="typescriptData2"></code></pre>
          <p>Typescript - Columns</p>
          <mat-divider></mat-divider>
          <pre><code [highlight]="typescriptColumns2"></code></pre>
          <p>Typescript - Methods</p>
          <mat-divider></mat-divider>
          <pre><code [highlight]="typescriptMethods2"></code></pre>
          <p>HTML</p>
          <mat-divider></mat-divider>
          <pre><code [highlight]="html2"></code></pre>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
