<h1>
    SimpleMatComponents Demo
  </h1>

  <hr>
  <h2>SimpleMatTable</h2>
  <div style="display: flex; justify-content: center">
    <div style="max-width: 1000px">
      <p>SimpleMatTable is an abstraction of MatTable from the @angular/material dependency. It allows you to
        quickly
        and in a typesafe way define tables. This is perfect if you want to display data in a table and do not need
        full
        control over the table HTML.
        <br>
        <br>
        Instead of copy/pasting the HTML for each column, you can describe the columns in a declarative way via
        Typescript code. A lot of different options like align, buttons, icons and even custom css allow you to
        further
        customize your table.</p>
      <p>In this demo, you will see some of the key features of simplemattable and how to use them. For a more
        thorough guide, head over to <a
          href="https://github.com/wobkenh/simplematcomponents/tree/master/projects/simplemattable">Github</a> or <a
          href="https://www.npmjs.com/package/simplemattable">NPM</a>.</p>
    </div>
  </div>
